/*
COLOR PALETTE:
http://www.colourlovers.com/palette/2567221/Yes_The_River_Knows
*/

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
font-family: 'source sans pro', helvetica, arial, sans-serif;
}

.bolder {
    font-weight: 700;
}

.amp {
    font-family: 'Baskerville', 'Palatino', Georgia, serif;
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
}

#intro {
    position: relative;
    padding: 8% 0% 8% 0%;
    background: white;
}

.intro-container {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#intro h1 {
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 28px;
    font-weight:400;
}

.icons {
    margin-left: 3%;
    margin-top: 4%;
}

a.mail {
    font-family: 'social';
    font-size: 35px;
    color: #d0d0d0;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

a.mail:hover {
    color: #c71610;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

a.facebook {
    font-family: 'social';
    font-size: 35px;
    color: #d0d0d0;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

a.facebook:hover {
    color: #3b5998;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

a.instagram {
    font-family: 'social';
    font-size: 35px;
    color: #d0d0d0;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

a.instagram:hover {
    color: #125688;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

footer {
  padding: 3% 0;
}


h2 {
    font-weight: 700;
    font-size: 38px;
    color: white;
    margin-top: 60px;
    text-align: left;
}

h3 {
    color: white;
    font-weight: 600;
    margin-top: 6px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 25px;
    text-align: justify;
}

.icon {
    margin-left: 10px;
    font-size: 28px;
}

#about {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:40px;
}

#contact {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:40px;
}

#rates {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:40px;
}

#registration {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:40px;
}

section:nth-child(1n+2) a {
    color: white;
}

section:nth-child(4n+2) {
    background-color: #76B1BF;
}

section:nth-child(4n+3) {
    background-color: #5E9BAB;
}

section:nth-child(4n+4) {
    background-color: #435A64;
}

section:nth-child(4n+5) {
    background-color: #415F79;
}

.link {
    text-decoration:none;
    font-weight:700;
    color:white;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.link:hover {
    color:#395575;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.available {
    color:#395575;
}


/* Mobile Styles */

@media screen and (max-width: 620px) {


    a.twitter {
    font-family: 'social';
    font-size: 35px;
    color: #d0d0d0;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    margin-right: 15%;
    }

    a.dribbble {
    font-family: 'social';
    font-size: 35px;
    color: #d0d0d0;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    margin-right: 15%;
    }

    a.instagram {
    font-family: 'social';
    font-size: 35px;
    color: #d0d0d0;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    margin-right: 15%;
    }

    a.rdio {
    font-family: 'social';
    font-size: 35px;
    color: #d0d0d0;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    margin-right: 15%;
    }

    .container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    }

    .intro-container {
    text-align: left;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }

    h2 {
    font-weight: 700;
    font-size: 38px;
    color: white;
    margin-top: 60px;
    text-align: center;
    }

    h3 {
    color: white;
    font-weight: 600;
    margin-top: 6px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 25px;
    text-align: left;
    }

    .icons {
    margin-top: 4%;
    margin-left: 16%;
    }

}
