/*
COLOR PALETTE:
http://www.colourlovers.com/palette/2567221/Yes_The_River_Knows
*/

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
  font-family: 'source sans pro', helvetica, arial, sans-serif;
}

p, ul, ol, table, h4, h5, h6 {
  line-height: 1.4;
}

.bolder {
  font-weight: 700;
}

#intro {
  padding: 5% 0%;
  background-image: url('/images/IMAG0458.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  border-bottom: 5px solid #738B81;
}

#intro h1 {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  text-align: right;
  max-width: 50%;
  float: right;
  font-size: 34px;
}

#intro:after {
  display: table;
  width: 100%;
  clear: both;
}

.intro .container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 60%;
  margin: 0 auto;
  padding: 30px 0;
}

h2 {
  font-weight: 700;
  font-size: 38px;
  text-align: left;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  font-weight: 400;
}

p, ul, ol, table {
  font-size: 16px;
  margin: 1em 0;
}

ul, ol {
  margin-left: 2em;
}

#about {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom:40px;
}

#contact {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom:40px;
}

#rates {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom:40px;
}

#registration {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom:40px;
}

section,
footer {
  color: white;
}

section a,
section a:hover,
section a:focus,
footer a,
footer a:hover,
footer a:focus {
  color: white;
}

.panel {
  color: #1b1b1b;
}

section:nth-child(2n+2) {
  background-color: #82A099;
}

section:nth-child(2n+3) {
  background-color: #738B81;
}

section:nth-child(2n+4) {
  background-color: #647D6C;
}

footer {
  background-color: #9BA493;
  border-top: 5px solid #818D77;
}

.link {
  text-decoration:none;
  font-weight:700;
  color:white;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.link:hover {
  color:#395575;
  text-decoration: none;
}

a.mail {
  font-family: 'social';
  font-size: 24px;
  color: rgba(255,255,255,0.85);
  text-decoration: none;
}

a.mail:hover {
  color: white;
}

a.facebook {
  font-family: 'social';
  font-size: 24px;
  color: rgba(255,255,255,0.85);
  text-decoration: none;
}

a.facebook:hover {
  color: white;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.icon {
  font-size: 0.65em;
  margin-left: 0.35em;
}

.available {
  color:#395575;
}

#about img {
  display: block;
  max-width: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
}

#about img.pull-right {
  float: right;
  margin-left: 30px;
}

#about img.pull-left {
  float: left;
  margin-right: 30px;
}

@media screen and (max-width: 718px) {
  #about img {
    max-width: 100%;
    float: none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  #intro h1 {
    font-size: 24px;
  }

  .container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    font-weight: 700;
    font-size: 38px;
    color: white;
  }

  h3 {
    color: white;
    font-weight: 600;
    font-size: 24px;
    font-weight: 400;
  }

  .image {
    float: none;
    max-width: 100%;
    margin: 20px auto;
  }
}
