---
layout: default
---

<section id="intro">
  <div class="container">
    <h1>Welcome to <span class="bolder">{{ site.title }}</span>!</h1>
  </div>
</section>

<section id="about">
  <div class="container">
    <h2>About Business<span class="icon"><i class="icon-vcard"></i></span></h2>
    <h3>
      Welcome to Clackamas River Jet Boat Tours!
    </h3>
    <p>
      The first Portland metro scenic thrill ride is now at your fingertips. This is a true heavy rapids, shallow water jet boat ride. We offer a tour like nothing else in the area. With packages to fit everyones comfort level, from just spending a nice sunny day on the more mellow part of the river, to running up into some of the most technical jet boating waters the world has to offer. With over 20 years of experience on the Clackamas River, we pride ourselves on the skill and expertise to run the river safely and with confidence. We run very special top of the line inflatable boats with custom setups designed specifically for running very shallow waters. Inflatables are by far the safest vessels in the boating industry; extremely stable and near impossible to sink, they guarantee the lives of our customers and crew are in the best hands possible. Come, enjoy the a boating experience like no other!
    </p>
    <img src="/images/IMAG0453.jpg" class="image img-responsive img-thumbnail">
    <p>
      In early July, as water levels start to drop, people enjoying the river on floating objects come out in full force. On some parts of the river it becomes more time consuming and technical to get up and down stream due to this factor. Safety is our #1 concern when it comes to everyone out enjoying a day on the Clackamas River. The extra fee for peak season times is to compensate for the most important, unwritten, no hurry rule of the water. We will wait as long as it takes to make sure all floaters are clear of the water way before running a rapid someone could be stuck in.
    </p>
    <h3>
      Clackamette Park to Carver Park
    </h3>
    <p>
      Considered the bottom run of the Clackamas River, it may be the more mellow stretch of the river but still offers plenty of great thrills and beautiful scenery. This is a perfect introduction to the world of jet boating. This tour has many lively rapids and technical areas, while still maintaining a smooth and comfortable ride.
    </p>
    <h3>
      Peak Season notes­­­
    </h3>
    <p>
      This section of the river is the most unaffected by low water levels and people floating during the peak season. This run will be primarily offered with the Achilles SU­18, tour boat during peak times.
    </p>
    <h3>
      Carver Park to Barton Park (break at park)
    </h3>
    <p>
      This is the most popular section of the Clackamas, where the shoots are narrow and the rapids become larger in size. We do not recommend this trip for those with a weak stomach. The speed and maneuvers needed to navigate this section of the river are greatly increased compared to the lower section. This is where the thrill ride part of the adventure starts to really kick into affect! The beauty and wildlife along the banks Clackamas become more amazing the farther upstream you travel.
    </p>
    <h3>
      Peak season notes­­­­­­­­
    </h3>
    <p>
      This is the most used section of the Clackamas River, especially when the weather is hot. Between early afternoon and early evening it can take a long time to wait for a big enough gap in floater traffic to run a few of the rapid shoots; so time to kick back and enjoy a little floating too. When booking a trip through this section, be prepared for fluctuating schedules during peak season. It allows more time for swimming and other fun activities along the river!
    </p>
    <h3>
      Barton Park to Milo Mciver Park (lunch break at park)
    </h3>
    <p>
      Hold onto the seat of your pants, this is by far the most exciting part of the river! Time for things to really pick up pace, as the river continues to narrow and the elevation changes of the rapid shoots become much more aggressive. This ride is for the true adventure seekers! It takes you up through some of the most technical areas the world has to offer when it comes to legal jet boating rivers.
    </p>
    <h3>
      ­­­­Peak season notes­­­­­­­
    </h3>
    <p>
      Not too many people float on this section, but due to the fact that this is the most technical part of the river, it also becomes the most challenging to navigate when the water levels go down. There are many areas where the boat must go through less than six inches of water and plot lines that take extreme, precision piloting. We ask that everyone bring good river footwear, that you are okay with getting wet. Be aware that there are rare times when you may be asked to get out of the boat in shallow water, if the boat needs to be maneuvered down the river by floating. The rocks on the Clackamas River are very slick, so sturdy river worthy footwear is an absolute must!
    </p>
    <h3>
      About Polaris Spirit ( 2 Customers, 400 lb max capacity )
    </h3>
    <p>
      The super car of the inflatable jet boat world; small, light, and fast! The Polaris is the top of the mountain, with a thick aluminum hull and the some of the highest quality tubes made in the industry. This boat is ready to take on anything the river has to throw at it.
    </p>
    <h3>
      About Achilles SU­18 ( 6 customers, 1500 lb max capacity) ­­­­­Achilles will be in service after June 1st­­­­
    </h3>
    <p>
      This boat is the heavy hauler! With over a 1500 lb payload, it is a modern engineering marvel to witness the Achilles navigate the shallows of the river. Even with a full load, it will slide through six inches of water with ease!.
    </p>
    <h3>
      Where to meet
    </h3>
    <p>
      Clackamette Park boat launch. 1955 Clackamette Dr, Oregon City, OR 97045
    </p>
    <h3>
      What to bring
    </h3>
    <p>
      It is highly recommended to bring sturdy river footwear, the rocks in the Clackamas are very slick and hard to walk on in bare feet or flip flop sandals! Food and hydrating beverages are welcome and encouraged. There is area for back packs and small coolers. If you book a trip to Mciver Park, please bring a lunch as we will stop and relax for a bit in the park, at the top of the river. Dress appropriate for the weather. The boats stay very dry inside, but if you are booking a trip in the off season be sure to bring clothes that stay warm and dry. During peak season, it is still a good idea to bring a warm sweatshirt or light jacket. The air on the river can still feel cold when the boats are underway, even when the weather is warm.
    </p>
    <h3>
      Payments and deposits
    </h3>
    <ul>
      <li>
        $50 deposit when booking a trip.
      </li>
      <li>
        Deposit is non-­refundable if not canceled at least 72 hours before the day of your trip. The remainder of the payment will be due at time of departure.
      </li>
      <li>
        We accept cash and Visa, MasterCard or American Express.
      </li>
      <li>
        A legal waiver will be presented at time of tour and must be signed by all participants prior to departure.
      </li>
      <li>
        Minors must be accompanied by parent or legal guardian.
      </li>
    </ul>
    <h3>
      Tour run times, round trip (rough estimate)
    </h3>
    <ul>
      <li>
        Clackamette Park to Barton Park (3 hrs)
      </li>
      <li>
        Clackamette Park to Milo Mciver Park (4 hrs)
      </li>
    </ul>
    <h3>
      Peak season­­­­­­­
    </h3>
    <ul>
      <li>
        Achilles SU­18: Clackamette Park to Carver Park (2 hr runs, leaves at noon, last run at 6:00 PM)
      </li>
      <li>
        Polaris Spirit: Clackamette to Barton Park (4 hrs, leaves at noon Stops at Barton Park for a break)
      </li>
      <li>
        Polaris Spirit: Clackamette to Milo Mciver State Park (6 hrs Stops for a break at Barton Park and a lunch break in Mciver Park)
      </li>
    </ul>
  </div>
</section>

<section id="rates">
  <div class="container">
    <h2>Rates<span class="icon"><i class="icon-newspaper"></i></span></h2>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><span class="small pull-right">Boat 1</span> Polaris, Spirit</h3>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <th colspan="2">Off Season</th>
          </tr>
          <tr>
            <td>Clackamette Park to Barton Park</td>
            <td>$300 Peak - $400</td>
          </tr>
          <tr>
            <th colspan="2">Peak Season (July 1st-end of September)</th>
          </tr>
          <tr>
            <td>Clackamette Park to Mciver Park</td>
            <td>$400 Peak - $550 (Day Charter)</td>
          </tr>
        </tbody>
      </table>
      {% if site.booking_url %}
      <div class="panel-footer">
        <a class="btn btn-primary btn-success" href="#">Book a Trip</a>
      </div>
      {% endif %}
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><span class="small pull-right">Boat 2</span> Achilles SU-18 (Coming soon)</h3>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <th colspan="2">Off Season</th>
          </tr>
          <tr>
            <td>Clackamette Park to Barton Park</td>
            <td>$400</td>
          </tr>
          <tr>
            <td>Clackamette Park to Mciver Park</td>
            <td>$650 (Day Charter)</td>
          </tr>
          <tr>
            <th colspan="2">Peak Season (July 1st-end of September)</th>
          </tr>
          <tr>
            <td>Clackamette Park to Carver run</td>
            <td>$300 (2 hr windows)</td>
          </tr>
          <tr>
            <td>Day Charter</td>
            <td>
              $800 week days<br/>
              $1000 weekends
            </td>
          </tr>
        </tbody>
      </table>
      {% if site.booking_url %}
      <div class="panel-footer">
        <a class="btn btn-primary btn-success" href="#">Book a Trip</a>
      </div>
      {% endif %}
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <h2>Contact<span class="icon"><i class="icon-comment-1"></i></span></h2>
    <ul>
      <li>
        Phone: <a href="tel:{{ site.phone }}">{{ site.phone }}</a>
      </li>
      <li>
        Email: <a href="mailto:{{ site.email }}">{{ site.email }} <i class="icon-mail"></i></a>
      </li>
      <li>
        Mailing Address: {{ site.address }}
      </li>
    </ul>
  </div>
</section>

<!--
<section id="registration">
  <div class="container">
    <h2>Book a Trip<span class="icon"><i class="icon-rocket"></i></span></h2>
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
    <p>
      <a class="btn btn-primary btn-lg btn-success" href="#">Book a Trip</a>
    </p>
  </div>
</section>
-->
