---
layout: default
---

<section id="intro">
  <div class="container">
    <h1>
      Welcome to <span class="bolder">{{ site.title }}</span>!
      {% if site.booking_url %}
      <br/>
      <a class="btn btn-lg btn-primary btn-success" href="{{ site.booking_url }}">Book a Trip</a>
      {% endif %}
    </h1>
  </div>
</section>

<section id="about">
  <div class="container">
    <h2>About Business</h2>
    <h3>
      Welcome to Clackamas River Jet Boat Tours!
    </h3>
    <h4>
      <img src="/images/IMAG0453.jpg" class="img-responsive img-thumbnail pull-right">
      The first Portland metro scenic thrill ride is now at your fingertips. This is a true heavy rapids, shallow water jet boat ride. We offer a tour like nothing else in the area. With packages to fit everyones comfort level, from just spending a nice sunny day on the more mellow part of the river, to running up into some of the most technical jet boating waters the world has to offer. With over 20 years of experience on the Clackamas River, we pride ourselves on the skill and expertise to run the river safely and with confidence. We run very special top of the line inflatable boats with custom setups designed specifically for running very shallow waters. Inflatables are by far the safest vessels in the boating industry; extremely stable and near impossible to sink, they guarantee the lives of our customers and crew are in the best hands possible. Come, enjoy the a boating experience like no other!
    </h4>
    <h4>
      <img src="/images/IMAG0451.jpg" class="img-responsive img-thumbnail pull-left">
      In early July, as water levels start to drop, people enjoying the river on floating objects come out in full force. On some parts of the river it becomes more time consuming and technical to get up and down stream due to this factor. Safety is our #1 concern when it comes to everyone out enjoying a day on the Clackamas River. The extra fee for peak season times is to compensate for the most important, unwritten, no hurry rule of the water. We will wait as long as it takes to make sure all floaters are clear of the water way before running a rapid someone could be stuck in.
    </h4>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>
          Clackamette Park to Carver Park
        </h3>
        <p>
          Considered the bottom run of the Clackamas River, it may be the more mellow stretch of the river but still offers plenty of great thrills and beautiful scenery. This is a perfect introduction to the world of jet boating. This tour has many lively rapids and technical areas, while still maintaining a smooth and comfortable ride.
        </p>
      </div>
      <div class="col-md-6">
        <h3>
          <img src="http://www.clackamas.us/parks/images/carver2.jpg" class="img-thumbnail img-responsive">
        </h3>
      </div>
    </div>
    <hr/>
    <h4>
      Peak season notes­­­
    </h4>
    <p>
      This section of the river is the most unaffected by low water levels and people floating during the peak season. This run will be primarily offered with the Achilles SU­18, tour boat during peak times.
    </p>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-push-6">
        <h3>
          Carver Park to Barton Park (break at park)
        </h3>
        <p>
          This is the most popular section of the Clackamas, where the shoots are narrow and the rapids become larger in size. We do not recommend this trip for those with a weak stomach. The speed and maneuvers needed to navigate this section of the river are greatly increased compared to the lower section. This is where the thrill ride part of the adventure starts to really kick into effect! The beauty and wildlife along the banks Clackamas become more amazing the farther upstream you travel.
        </p>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <h3>
          <img src="http://www.clackamas.us/parks/images/barton03.jpg" class="img-thumbnail img-responsive">
        </h3>
      </div>
    </div>
    <hr/>
    <h4>
      Peak season notes­­­­­­­­
    </h4>
    <p>
      This is the most used section of the Clackamas River, especially when the weather is hot. Between early afternoon and early evening it can take a long time to wait for a big enough gap in floater traffic to run a few of the rapid shoots; so time to kick back and enjoy a little floating too. When booking a trip through this section, be prepared for fluctuating schedules during peak season. It allows more time for swimming and other fun activities along the river!
    </p>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>
          Barton Park to Milo Mciver Park (lunch break at park)
        </h3>
        <p>
          Hold onto the seat of your pants, this is by far the most exciting part of the river! Time for things to really pick up pace, as the river continues to narrow and the elevation changes of the rapid shoots become much more aggressive. This ride is for the true adventure seekers! It takes you up through some of the most technical areas the world has to offer when it comes to legal jet boating rivers.
        </p>
      </div>
      <div class="col-md-6">
        <h3>
          <img src="http://oregonstateparks.org/index.cfm?do=main.loadImage&Image=Milo%20McIver%20State%20Park\IMG_7834_edited.jpg" class="img img-thumbnail">
        </h3>
      </div>
    </div>
    <hr/>
    <h4>
      ­­­­Peak season notes­­­­­­­
    </h4>
    <p>
      Not too many people float on this section, but due to the fact that this is the most technical part of the river, it also becomes the most challenging to navigate when the water levels go down. There are many areas where the boat must go through less than six inches of water and plot lines that take extreme, precision piloting. We ask that everyone bring good river footwear, that you are okay with getting wet. Be aware that there are rare times when you may be asked to get out of the boat in shallow water, if the boat needs to be maneuvered down the river by floating. The rocks on the Clackamas River are very slick, so sturdy river worthy footwear is an absolute must!
    </p>
  </div>
</section>

<section>
  <div class="container">
    <h2>The Fleet</h2>
    <div class="row">
      <div class="col-lg-6">
        <h3>
          About Polaris Spirit
        </h3>
        <h5>
          2 Customers, 400 lb max capacity
        </h5>
        <p>
          The super car of the inflatable jet boat world; small, light, and fast! The Polaris is the top of the mountain, with a thick aluminum hull and the some of the highest quality tubes made in the industry. This boat is ready to take on anything the river has to throw at it.
        </p>
      </div>
      <div class="col-lg-6">
        <img class="img-responsive img-thumbnail" src="{{ site.polaris_image }}" alt="Polaris">
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-lg-6 col-lg-push-6">
        <h3>
          About Achilles SU­18
        </h3>
        <h5>
          6 customers, 1500 lb max capacity
          <br>
          (Achilles will be in service after June 1st­­­)
        </h5>
        <p>
          This boat is the heavy hauler! With over a 1500 lb payload, it is a modern engineering marvel to witness the Achilles navigate the shallows of the river. Even with a full load, it will slide through six inches of water with ease!.
        </p>
      </div>
      <div class="col-lg-6 col-lg-pull-6">
        <img class="img-responsive img-thumbnail" src="{{ site.achilles_image }}" alt="Achilles (Coming soon)">
      </div>
    </div>
  </div>
</section>

{% include cta.html %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>
          Where to meet
        </h3>
        <h4>
          Clackamette Park boat launch:
        </h4>
        <h4>
          <a target="_blank" href="https://www.google.com/maps/place/1955+Clackamette+Dr,+Oregon+City,+OR+97045/@45.3711269,-122.6054907,17z/data=!3m1!4b1!4m2!3m1!1s0x549576b0ee1779fd:0x1fce83e87a0b1d41">
            1955 Clackamette Dr
            <br>
            Oregon City, OR 97045
          </a>
        </h4>
      </div>
      <div class="col-md-6">
        <h3>
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2802.8943535053772!2d-122.60549068444566!3d45.371126879099826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549576b0ee1779fd%3A0x1fce83e87a0b1d41!2s1955+Clackamette+Dr%2C+Oregon+City%2C+OR+97045!5e0!3m2!1sen!2sus!4v1459631356390" width="600" height="450" allowfullscreen></iframe>
          </div>
        </h3>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h3>
      What to bring
    </h3>
    <ul>
      <li>
        It is highly recommended to bring sturdy river footwear, the rocks in the Clackamas are <em>very</em> slick and hard to walk on in bare feet or flip flop sandals!
      </li>
      <li>
        Food and hydrating beverages are welcome and encouraged. There is area for backpacks and small coolers.
      </li>
      <li>
        If you book a trip to Mciver Park, please bring a lunch as we will stop and relax for a bit in the park, at the top of the river.
      </li>
      <li>
        Dress appropriate for the weather. The boats stay very dry inside, but if you are booking a trip in the off season be sure to bring clothes that stay warm and dry. During peak season, it is still a good idea to bring a warm sweatshirt or light jacket. The air on the river can still feel cold when the boats are underway, even when the weather is warm.
      </li>
      <li>
        Swimming is welcome.
      </li>
    </ul>
  </div>
</section>

<section>
  <div class="container">
    <h3>
      Payments and deposits
    </h3>
    <ul>
      <li>
        Card number will be held at time of booking and a $75 fee will be charged if appointment is not canceled within 72 hours of departure.
      </li>
      <li>
        We accept cash and Visa, MasterCard or American Express.
      </li>
      <li>
        A legal waiver will be presented at time of tour and must be signed by all participants prior to departure.
      </li>
      <li>
        Minors must be accompanied by parent or legal guardian.
      </li>
    </ul>
  </div>
</section>

<section>
  <div class="container">
    <h3>
      Tour run times, round trip (rough estimate)
    </h3>
    <ul>
      <li>
        Clackamette Park to Barton Park (3 hrs)
      </li>
      <li>
        Clackamette Park to Milo Mciver Park (4 hrs)
      </li>
    </ul>
    <h3>
      Peak season­­­­­­­
    </h3>
    <ul>
      <li>
        Achilles SU­18: Clackamette Park to Carver Park (2 hr runs, leaves at noon, last run at 6:00 PM)
      </li>
      <li>
        Polaris Spirit: Clackamette to Barton Park (4 hrs, leaves at noon Stops at Barton Park for a break)
      </li>
      <li>
        Polaris Spirit: Clackamette to Milo Mciver State Park (6 hrs Stops for a break at Barton Park and a lunch break in Mciver Park)
      </li>
    </ul>
  </div>
</section>

<section id="rates">
  <div class="container">
    <h2>Rates</h2>
    <p>For full day charters or special events please call or email.</p>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-9">
            <h3>Polaris, Spirit</h3>
            <p>2 Customers, 400 lb max capacity</p>
          </div>
          <div class="col-md-3">
            <img class="img-responsive img-thumbnail" src="{{ site.polaris_image }}" alt="Polaris">
          </div>
        </div>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <th colspan="2">Off Season</th>
            <th>Trip Time (Approx)</th>
          </tr>
          <tr>
            <td>Clackamette Park to Barton Park</td>
            <td>$300</td>
            <td>4 hrs<br/>
                Break at Barton Park
            </td>
          </tr>
          <tr>
            <td>Clackamette Park to Mciver Park</td>
            <td>$400</td>
            <td>6 hrs<br/>
                Break at Barton Park<br/>
                Lunch at Mciver Park
            </td>
          </tr>
          <tr>
            <th colspan="2">Peak Season (July 1st-end of September)</th>
            <th></th>
          </tr>
          <tr>
            <td>Clackamette Park to Barton Park</td>
            <td>$400</td>
            <td>4 hrs<br/>
                Break at Barton Park
            </td>
          </tr>
          <tr>
            <td>Clackamette Park to Mciver Park</td>
            <td>$550</td>
            <td>6 hrs<br/>
                Break at Barton Park<br/>
                Lunch at Mciver Park
            </td>
          </tr>
        </tbody>
      </table>
      {% if site.booking_url %}
      <div class="panel-footer">
        <a class="btn btn-primary btn-success" href="{{ site.booking_url }}">Book a Trip</a>
      </div>
      {% endif %}
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-9">
            <h3>Achilles SU-18 (Coming soon)</h3>
            <p>6 customers, 1500 lb max capacity</p>
          </div>
          <div class="col-md-3">
            <img class="img-responsive img-thumbnail" src="{{ site.achilles_image }}" alt="Achilles (Coming soon)">
          </div>
        </div>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <th colspan="2">Off Season</th>
            <th>Trip Time (Approx)</th>
          </tr>
          <tr>
            <td>Clackamette Park to Barton Park</td>
            <td>$400</td>
            <td>4 hrs<br/>
                Break at Barton Park
            </td>
          </tr>
          <tr>
            <td>Clackamette Park to Mciver Park</td>
            <td>$650</td>
            <td>6 hrs<br/>
                Break at Barton Park<br/>
                Lunch at Mciver Park
            </td>
          </tr>
          <tr>
            <th colspan="2">Peak Season (July 1st-end of September)</th>
            <th></th>
          </tr>
          <tr>
            <td>Clackamette Park to Carver run</td>
            <td>$300</td>
            <td>2 hrs runs<br/>
                Leaves at noon<br/>
                Last run at 6PM
            </td>
          </tr>
          <tr>
            <td>Day Charter</td>
            <td colspan="2">
              $800 week days<br/>
              $1000 weekends
            </td>
          </tr>
        </tbody>
      </table>
      {% if site.booking_url %}
      <div class="panel-footer">
        <a class="btn btn-primary btn-success" href="{{ site.booking_url }}">Book a Trip</a>
      </div>
      {% endif %}
    </div>
  </div>
</section>

{% include cta.html %}
